# For testing Cursor - otherwise it hangs when running commands
if [[ -n "$COMPOSER_NO_INTERACTION" ]]; then
  return 0
fi
# Zsh completion system (rebuild dump once per day)
autoload -U compinit
if [ "$(find ~/.zcompdump -mtime +1 2>/dev/null)" ] || [ ! -f ~/.zcompdump ]; then
  compinit
else
  compinit -C
fi
autoload -U +X bashcompinit && bashcompinit
{{ if .is_work_laptop}}
# Stripe Setup
if [[ -f ~/.stripe/shellinit/zshrc ]]; then
	source ~/.stripe/shellinit/zshrc
fi
{{end}}
{{ if .is_devbox }}
# Devbox specific setup
source ~/.bashrc
eval "$(nodenv init -)"
{{end}}
# Go
alias gotc="go test -cover"
alias gotac="go test -coverpkg=all -cover ./..."
alias got="go test"
alias gota="go test ./..."
alias gor="go run"

alias vim="nvim"

## manipulate files verbosely (print log of what happened)
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"
alias cdd="cd .."

## list disk usage statistics for the current folder
alias duls="du -h -d1 | sort -hr"
# print my IP
alias ip="curl curlmyip.com"

# Git
GIT_PRETTY_FORMAT="--pretty=\"%C(bold green)%h%Creset%C(auto)%d%Creset %s\""
GIT_PRETTY_FORMAT_AUTHOR="--pretty=\"%C(bold green)%h%Creset %C(yellow)%an%Creset%C(auto)%d%Creset %s\""
## pretty Git log
alias gl="git log --graph $GIT_PRETTY_FORMAT"
## pretty Git log, all references
alias gll="gl --all"
## pretty Git log, show authors
alias gla="git log --graph $GIT_PRETTY_FORMAT_AUTHOR"
## pretty Git log, all references, show authors
alias glla="gla --all"
alias ga="git add"
alias gcam="git commit -a -m"
alias gcb="git checkout -b"
alias gco="git checkout"
alias gbs="git bisect"
alias gbl="git blame -w"
alias gbd="git branch --delete"
alias gsync="git fetch origin master && git rebase origin/master"
alias gcp="git cherry-pick"
alias gst="git status"

# Git alias completions
compdef _git gco=git-checkout
compdef _git gcb=git-checkout
compdef _git ga=git-add
compdef _git gcp=git-cherry-pick
compdef _git gbd=git-branch
compdef _git gbl=git-blame
compdef _git gbs=git-bisect

{{- if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}
# When installed with apt, bat turns into batcat
alias bat="batcat"
alias fd="fdfind"
{{end}}
{{- if .is_work_machine }}
## Work Specific
alias pst="pay stack"
{{end}}
{{ if .is_work_laptop}}
### Work Laptop Specific
function new-devbox-go() {
    pay remote new "$1" \
      --host-type qa-mydev-graviton \
      --repo mint \
      --workspace gocode \
      --ide idea \
      --no-notify-on-ready \
      --skip-confirm
}
function new-devbox-pay(){
    pay remote new "$1" \
      --host-type qa-mydev-graviton \
      --repo mint \
      --workspace pay-server \
      --ide code \
      --no-notify-on-ready \
      --skip-confirm
}
{{end}}
# Zsh Options
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt EXTENDED_HISTORY
setopt HIST_IGNORE_SPACE

HISTFILE=~/.zsh_history
HISTSIZE=100000
SAVEHIST=100000

source ~/.powerlevel10k/powerlevel10k.zsh-theme

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
source ~/.p10k.zsh

export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$HOME/.local/bin

{{ if .is_work_laptop}}
### START - Salt configs (managed by salt)
if [ -f ~/stripe/corpeng/salt/helpers/zshrc ]; then
  source ~/stripe/corpeng/salt/helpers/zshrc
fi
### END - Salt configs (managed by salt)
{{end}}
source <(fzf --zsh)
source ~/.zsh/plugins/fzf-tab/fzf-tab.plugin.zsh
source ~/.zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
